* {
    box-sizing: border-box;
}

/* Slideshow Container */
.slideshow-container {
    max-width: 780px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next / Previous Buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position "Next" button on right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, background black and slightly transparent */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

/* Slide Number Text */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Overlay Text */
.overlay {
    position: absolute;
    bottom: 8px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: #f2f2f2;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    text-align: center;
}

/* On image hove, display overlay */
.slideshow-container:hover .overlay {
    opacity: 1;
}

/* Dots / Bullets / Indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.active {
    background-color: #717171;
}

/* Fading Animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .9;
    }

    to {
        opacity: 1;
    }
}